###############
#  temp file  #
###############
asp/*.yml
asp/.manifest
domain/*.yml
domain/.manifest
fluentValidation/*.yml
fluentValidation/.manifest
rop/*.yml
rop/.manifest
valueObjects/*.yml
valueObjects/.manifest
