name: Build

on:
  workflow_dispatch:
  push:
    branches: [ main, release/v** ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0 # depth is needed for nbgv
    - uses: dotnet/nbgv@master
      with:
        setAllVars: true

    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '7.0.x'

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore -c Release

    - name: Test
      run: dotnet test --no-build --verbosity normal -c Release -f net7.0

    - name: Pack
      if: ${{ success() && !github.base_ref }}
      run: |
        dotnet pack --no-build --verbosity normal -c Release -o artifacts/

